body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding:0%;
}
section{
    display: flex;
}
#orangecolor{
    color: rgb(255, 94, 0);

}
.half-width1{
    width: 50%;
    padding-left: 7%;
    padding-top: 13% ;
}
.half-width2{
    width: 50%;
    padding: 5%;
}
.half-width2 img{
    width: 100%;
}
.half-width3{
    width: 40%;
    padding: 10%;
}
h1{
    font-size: 70px;

}
h2{
    font-size: 30px;
}
h4{
    color: rgb(17, 14, 14);
}
a{
    text-decoration: none;
    color: azure;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav{
    
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7%;
    background-color: rgb(248, 92, 2);
}
nav ul li{
    padding: 30px;
}
.navi{
    width: 100%;
}  
.logo{
    
   color: white;
    padding: 30px;
   
}
.gradient-btn{
    text-decoration: none;
    padding: 10px 20px 10px;
    background-image: linear-gradient(to right, orange,rgb(250, 93, 20));
    border-radius:30px ;
    color: rgb(255, 255, 255);
    
}
#about-img{
    width: 66%;
    padding-left: 20%;
    padding-top: 35px;
}
.about{

  background-image: url(images/shapes/Frame\ 59.jpg);
  background-size:100%;
  background-repeat:no-repeat ;

}
.top-banner{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-size: 100%;
}
.some-text{
    text-align: center;
    margin: 0 auto;
}
.recipi-item{
    width: 33%;
    margin: 5%;
    padding: 2%;
    border-radius: 50px;
    text-justify: distribute-all-lines;
    box-shadow: 10px 10px 30px rgb(100, 97, 97);
}
.recipi-item img{
    width: 100%;
}
footer{
    text-align: center;
    padding: 3%;
    color: rgb(171, 177, 177);
    background-color: rgb(0, 0, 0);
}
#radius{
    border-radius: 10px;
    height: 280px;
}

.contact-section{
    
    padding-top: 20px;
    color: azure;
    background-image: url(images/shapes/contact-banner.jpg);
    background-size: cover;
    height: 700px;
}
.conatct-item{
   
    width: 30%;
    padding: 8%;
}
.some-text-contact{
   
    padding: 15% 7% 15% 8%;
    
}
.icon{
    width: 30px;
}
